In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

c:\users\ishaer\appdata\local\programs\python\python39\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
z2 = pd.read_csv("../datasets/generated/2019_z2_Floor6.csv", index_col=[0])
z2.head()

,z2_AC1(kW),z2_Light(kW),z2_Plug(kW),z2_S1(degC),z2_S1(RH%),z2_S1(lux),frame_id
Date,,,,,,,
2019-03-06 16:08:00,26.16,7.48,0.87,21.35,57.37,60.0,frame_0
2019-03-06 16:09:00,13.15,6.41,0.89,21.38,57.26,60.0,frame_0
2019-03-06 16:10:00,13.16,6.40,1.20,21.37,57.19,60.0,frame_0
2019-03-06 16:11:00,12.98,6.41,0.90,21.40,57.14,60.0,frame_0
2019-03-06 16:12:00,13.12,6.43,0.99,21.40,57.60,61.0,frame_0

In [3]:
z2.index = pd.to_datetime(z2.index)

In [4]:
print(np.max(z2.index) - np.min(z2.index))

208 days 20:25:00

In [5]:
all_zones_floor6 = {
    'z1': pd.read_csv("../datasets/generated/2019_z1_Floor4.csv", index_col=[0]),
    'z2': pd.read_csv("../datasets/generated/2019_z2_Floor4.csv", index_col=[0]),
    'z3': pd.read_csv("../datasets/generated/2019_z3_Floor4.csv", index_col=[0]),
    'z4': pd.read_csv("../datasets/generated/2019_z4_Floor4.csv", index_col=[0]),
    'z5': pd.read_csv("../datasets/generated/2019_z5_Floor4.csv", index_col=[0])
}

In [6]:
for zone in all_zones_floor6.keys():
    all_zones_floor6[zone].index = pd.to_datetime(all_zones_floor6[zone].index)

In [7]:
all_zones_floor6['z2'].head()

,z2_AC1(kW),z2_Light(kW),z2_Plug(kW),z2_S1(degC),z2_S1(RH%),z2_S1(lux),frame_id
Date,,,,,,,
2019-03-06 14:53:00,16.41,2.17,0.29,21.15,69.70,60.0,frame_0
2019-03-06 14:54:00,16.40,2.18,0.29,21.19,68.59,37.0,frame_0
2019-03-06 14:55:00,16.27,2.18,0.29,21.00,66.84,44.0,frame_0
2019-03-06 14:56:00,16.32,2.18,0.29,20.77,67.81,44.0,frame_0
2019-03-06 14:57:00,16.47,2.18,0.29,20.62,68.74,44.0,frame_0

In [8]:
all_zones_floor6['z2'].head()

,z2_AC1(kW),z2_Light(kW),z2_Plug(kW),z2_S1(degC),z2_S1(RH%),z2_S1(lux),frame_id
Date,,,,,,,
2019-03-06 14:53:00,16.41,2.17,0.29,21.15,69.70,60.0,frame_0
2019-03-06 14:54:00,16.40,2.18,0.29,21.19,68.59,37.0,frame_0
2019-03-06 14:55:00,16.27,2.18,0.29,21.00,66.84,44.0,frame_0
2019-03-06 14:56:00,16.32,2.18,0.29,20.77,67.81,44.0,frame_0
2019-03-06 14:57:00,16.47,2.18,0.29,20.62,68.74,44.0,frame_0

In [ ]:
from scipy.stats import pearsonr

ref_zone = 'z1' 
ref_v = 'AC1(kW)'
conditions = ['with_0', 'without_0']

ref_df = all_zones_floor6[ref_zone]
ref_df.dropna(inplace=True)
corr_results = pd.DataFrame()

for zone in all_zones_floor6.keys():
    dict_result = {}
#     if zone != ref_zone:
        
    other_df = all_zones_floor6[zone]
    other_df.dropna(inplace=True)

    idxes = np.intersect1d(ref_df.index, other_df.index)
    other_df = other_df.loc[idxes, :]
    other_df.drop(columns = ['frame_id'], inplace=True)
    ref_df_idx = ref_df.loc[idxes, :]

    init_v = f"{ref_zone}_{ref_v}"

    for col in other_df.columns:
        dict_result['first_zone'] = ref_zone
        dict_result['second_zone'] = zone
        dict_result['parameter'] = col
#         indices_not_zero = ref_df_idx[init_v] != 0.0
#         ref_df_idx = ref_df_idx[indices_not_zero]
#         other_df = other_df[indices_not_zero]

        for future in [0, 5, 10, 15, 20]:
            new_df = pd.DataFrame()
            new_df[init_v] = ref_df_idx[init_v]
            new_df[col] = other_df[col].shift(periods = -1 * future)
            new_df.dropna(inplace=True)
            corr, _ = pearsonr(new_df[init_v], new_df[col])
            if np.std(new_df[col].values) == 0.0:
                print(col, new_df[col].values)
#             print(np.std(new_df[init_v].values), np.std(new_df[col].values)) 

            dict_result[f'corr_{future}'] = corr
        corr_results = pd.concat([corr_results, pd.DataFrame.from_dict([dict_result])])

In [ ]:
corr_results.index = range(corr_results.shape[0])

In [ ]:
corr_results.head(30)

In [104]:
corr_results.to_csv("../stats/2019_Floor5_z1_corr_zones.csv")

In [11]:
for zone in all_zones_floor6.keys():
    print(all_zones_floor6[zone].shape)

(313076, 7)
(293570, 7)
(423556, 3)
(325453, 10)
(319426, 7)

In [3]:
df_z2 = pd.read_csv("../datasets/generated/2019_z2_Floor6.csv", index_col=[0])
df_z3 = pd.read_csv("../datasets/generated/2019_z3_Floor6.csv", index_col=[0])

In [4]:
df_z2.index = pd.to_datetime(df_z2.index)
df_z3.index = pd.to_datetime(df_z3.index)

In [8]:
print(df_z2.shape, df_z3.shape)

(293570, 7) (423556, 3)